body{
    font-family:Arial;
    background:#f4f7fa;
    margin:0
}

.header{
    background:#2e7d32;
    color:white;
    padding:20px;
    text-align:center
}

.panel{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,.1)
}

input,button{
    padding:8px;
    margin:5px;
    border-radius:5px;
    border:1px solid #ccc
}

button{
    background:#2e7d32;
    color:white;
    border:none;
    cursor:pointer
}

button:hover{
    opacity:.85
}

.card{
    padding:10px;
    border:1px solid #ddd;
    margin-top:10px;
    border-radius:5px
}

.rec{
    padding:10px;
    background:#e8f5e9;
    margin:10px 0;
    border-left:4px solid #2e7d32
}

.dark{
    background:#121212;
    color:white
}

.dark .panel{
    background:#1e1e1e
}

.dark .rec{
    background:#2e2e2e
}

.chart-box {
  width: 700px;
  height: 350px;
  margin: 20px auto;
}
.chart-box.small {
  width: 350px;
  height: 350px;
}
canvas {
  width: 100% !important;
  height: 100% !important;
}